[submodule "keepalived"]
	path = keepalived
	url = git@github.com:acassen/keepalived
[submodule "vendor/github.com/mitchellh/colorstring"]
	path = vendor/github.com/mitchellh/colorstring
	url = https://github.com/mitchellh/colorstring
	branch = master
